<body>
  <section class="container-fluid,slider d-flex justify-content-center align-items-center">
    <h3> Prueba Técnica i4DIGITAL</h3>
  </section>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jerry Restrepo </a>

      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Inicio </a>
        <a class="nav-item nav-link" href="/user">Usuarios</a>
        <a class="nav-item nav-link" href="/album">Albums</a>
        <a class="nav-item nav-link" href="/post">Publicaciones</a>


    </div>
  </nav>
